{:highlights [{:id #uuid "680e072d-eb39-4ad2-ab80-8ec0a34928f8",
               :page 88,
               :position {:bounding {:x1 757.5703125,
                                     :y1 238.3671875,
                                     :x2 920.271240234375,
                                     :y2 272.015625,
                                     :width 1010.6450666666666,
                                     :height 1243.4613333333332},
                          :rects ({:x1 757.5703125,
                                   :y1 238.3671875,
                                   :x2 920.271240234375,
                                   :y2 253.3671875,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 757.5703125,
                                   :y1 257.015625,
                                   :x2 787.2479858398438,
                                   :y2 272.015625,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}),
                          :page 88},
               :content {:text "Why 115 MB and not 120 MB?"},
               :properties {:color "yellow"}}
              {:id #uuid "680e089f-a028-42ec-8752-4d758bd46269",
               :page 89,
               :position {:bounding {:x1 304.6015625,
                                     :y1 285.9921875,
                                     :x2 907.6188354492188,
                                     :y2 425.484375,
                                     :width 1010.6450666666666,
                                     :height 1243.4613333333332},
                          :rects ({:x1 435.4440002441406,
                                   :y1 285.9921875,
                                   :x2 907.6188354492188,
                                   :y2 304.5859375,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 304.703125,
                                   :y1 310.2421875,
                                   :x2 907.4629516601562,
                                   :y2 328.8359375,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 304.6015625,
                                   :y1 334.484375,
                                   :x2 907.314208984375,
                                   :y2 353.078125,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 304.6015625,
                                   :y1 358.609375,
                                   :x2 907.5313110351562,
                                   :y2 377.203125,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 304.6015625,
                                   :y1 382.859375,
                                   :x2 907.3228149414062,
                                   :y2 401.453125,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 304.6015625,
                                   :y1 406.984375,
                                   :x2 345.7669677734375,
                                   :y2 425.484375,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}),
                          :page 89},
               :content {:text "Second, encoding images with limited precision leads to quantization artifacts, or banding, when the need to round pixel values to the nearest representable value introduces visible jumps in intensity or color. Banding can be particularly insidious in animation and video, where the bands may not be objectionable in still images, but become very visible when they move back and forth."},
               :properties {:color "yellow"}}
              {:id #uuid "680e0e56-4e7f-44aa-8e6e-18201a81b85a",
               :page 96,
               :position {:bounding {:x1 100.7578125,
                                     :y1 761.9921875,
                                     :x2 703.4918212890625,
                                     :y2 853.109375,
                                     :width 1010.6450666666666,
                                     :height 1243.4613333333332},
                          :rects ({:x1 247.30401611328125,
                                   :y1 761.9921875,
                                   :x2 703.43408203125,
                                   :y2 780.5859375,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 100.7578125,
                                   :y1 786.234375,
                                   :x2 703.4918212890625,
                                   :y2 804.828125,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 100.7578125,
                                   :y1 810.484375,
                                   :x2 703.2599487304688,
                                   :y2 829.078125,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 100.7578125,
                                   :y1 834.609375,
                                   :x2 592.0265502929688,
                                   :y2 853.109375,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}),
                          :page 96},
               :content {:text "In object-order rendering, each object is considered in turn, and for each object, all the pixels that it inﬂuences are found and updated. In image-order rendering, each pixel is considered in turn, and for each pixel all the objects that inﬂuence it are found and the pixel value is computed"},
               :properties {:color "yellow"}}
              {:id #uuid "680e0ec2-969a-49f3-8e63-65d55fa02e30",
               :page 96,
               :position {:bounding {:x1 100.859375,
                                     :y1 1003.96875,
                                     :x2 703.9036865234375,
                                     :y2 1094.8359375,
                                     :width 1010.6450666666666,
                                     :height 1243.4613333333332},
                          :rects ({:x1 649.714599609375,
                                   :y1 1003.96875,
                                   :x2 703.8369140625,
                                   :y2 1022.46875,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 100.859375,
                                   :y1 1028.0859375,
                                   :x2 703.4601440429688,
                                   :y2 1046.6796875,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 100.859375,
                                   :y1 1052.0859375,
                                   :x2 703.9036865234375,
                                   :y2 1070.6796875,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}
                                  {:x1 100.859375,
                                   :y1 1076.3359375,
                                   :x2 376.8984680175781,
                                   :y2 1094.8359375,
                                   :width 1010.6450666666666,
                                   :height 1243.4613333333332}),
                          :page 96},
               :content {:text "broadly speaking, image-order rendering is simpler to get working and more ﬂexible in the effects that can be produced and usually (though not always) takes more execution time to produce a comparable image."},
               :properties {:color "yellow"}}
              {:id #uuid "680e11e7-e24a-45f3-863a-c5246e620347",
               :page 98,
               :position {:bounding {:x1 89.1484375,
                                     :y1 491.2734375,
                                     :x2 622.37255859375,
                                     :y2 571.109375,
                                     :width 902.3616666666667,
                                     :height 1110.2333333333331},
                          :rects ({:x1 152.4921875,
                                   :y1 491.2734375,
                                   :x2 621.3201293945312,
                                   :y2 506.2734375,
                                   :width 902.3616666666667,
                                   :height 1110.2333333333331}
                                  {:x1 89.9609375,
                                   :y1 507.8125,
                                   :x2 621.5701904296875,
                                   :y2 527.8125,
                                   :width 902.3616666666667,
                                   :height 1110.2333333333331}
                                  {:x1 89.1484375,
                                   :y1 533.796875,
                                   :x2 622.37255859375,
                                   :y2 548.796875,
                                   :width 902.3616666666667,
                                   :height 1110.2333333333331}
                                  {:x1 90.7734375,
                                   :y1 551.109375,
                                   :x2 127.91026306152344,
                                   :y2 571.109375,
                                   :width 902.3616666666667,
                                   :height 1110.2333333333331}),
                          :page 98},
               :content {:text "the standard approach for both art and photography, as well as computer graphics, is linear perspective, in which 3D objects are projected onto an image plane in such a way that straight lines in the scene become straight lines in the image."},
               :properties {:color "yellow"}}
              {:id #uuid "680f01e9-2d69-4f79-ade5-96adca08b9b1",
               :page 66,
               :position {:bounding {:x1 85.8203125,
                                     :y1 828.8125,
                                     :x2 598.8153076171875,
                                     :y2 885.796875,
                                     :width 859.9999999999999,
                                     :height 1058.113062574688},
                          :rects ({:x1 476.439453125,
                                   :y1 828.8125,
                                   :x2 598.5177001953125,
                                   :y2 844.3125,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.8203125,
                                   :y1 849.34375,
                                   :x2 598.8153076171875,
                                   :y2 865.1640625,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.8203125,
                                   :y1 869.9765625,
                                   :x2 125.99472045898438,
                                   :y2 885.796875,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}),
                          :page 66},
               :content {:text " The coordinate system that makes such interpolation straightforward is called barycentric coordinates;"},
               :properties {:color "yellow"}}
              {:id #uuid "680f03e4-3ece-4e4a-80f7-27f5db35077e",
               :page 68,
               :position {:bounding {:x1 85.734375,
                                     :y1 428.109375,
                                     :x2 598.7687377929688,
                                     :y2 505.3984375,
                                     :width 859.9999999999999,
                                     :height 1058.113062574688},
                          :rects ({:x1 109.6484375,
                                   :y1 428.109375,
                                   :x2 598.60205078125,
                                   :y2 443.609375,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.734375,
                                   :y1 448.7421875,
                                   :x2 598.6995849609375,
                                   :y2 464.5625,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.734375,
                                   :y1 469.265625,
                                   :x2 598.7687377929688,
                                   :y2 485.0859375,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.734375,
                                   :y1 489.8984375,
                                   :x2 423.3124084472656,
                                   :y2 505.3984375,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}),
                          :page 68},
               :content {:text "Barycentric coordinates seem like an abstract and unintuitive construct at ﬁrst, but they turn out to be powerful and convenient. You may ﬁnd it useful to think of how street addresses would work in a city where there are two sets of parallel streets, but where those sets are not at right angle"},
               :properties {:color "yellow"}}
              {:id #uuid "680f03f8-719c-4065-842b-c84e7aa7c560",
               :page 68,
               :position {:bounding {:x1 85.734375,
                                     :y1 694.9609375,
                                     :x2 598.81103515625,
                                     :y2 813.203125,
                                     :width 859.9999999999999,
                                     :height 1058.113062574688},
                          :rects ({:x1 85.8203125,
                                   :y1 694.9609375,
                                   :x2 598.7586669921875,
                                   :y2 710.4609375,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.8203125,
                                   :y1 715.59375,
                                   :x2 598.718017578125,
                                   :y2 731.4140625,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.8203125,
                                   :y1 736.015625,
                                   :x2 598.561279296875,
                                   :y2 751.8359375,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.8203125,
                                   :y1 756.546875,
                                   :x2 598.7230224609375,
                                   :y2 772.3671875,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.8203125,
                                   :y1 777.1796875,
                                   :x2 598.81103515625,
                                   :y2 793,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 85.734375,
                                   :y1 797.703125,
                                   :x2 382.3509521484375,
                                   :y2 813.203125,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}),
                          :page 68},
               :content {:text "If one of the coordinates is zero and the other two are between zero and one, then you are on an edge. If two of the coordinates are zero, then the other is one, and you are at a vertex. Another nice property of barycentric coordinates is that Equation (2.29) in effect mixes the coordinates of the three vertices in a smooth way. The same mixing coefﬁcients (α, β, γ) can be used to mix other properties, such as color, as we will see in the next chapter"},
               :properties {:color "yellow"}}
              {:id #uuid "680f050b-5626-4a5a-9261-f95a121f8bcb",
               :page 67,
               :position {:bounding {:x1 415.2890625,
                                     :y1 554.3359375,
                                     :x2 618.4453125,
                                     :y2 582.8359375,
                                     :width 859.9999999999999,
                                     :height 1058.113062574688},
                          :rects ({:x1 415.2890625,
                                   :y1 554.3359375,
                                   :x2 618.4453125,
                                   :y2 582.8359375,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}),
                          :page 67},
               :content {:text "p=a+A(b—a)+7(e—a). "},
               :properties {:color "yellow"}}
              {:id #uuid "680f051d-1d8f-4a3e-b413-67f8deddcc3e",
               :page 68,
               :position {:bounding {:x1 243.203125,
                                     :y1 177.6953125,
                                     :x2 436.640625,
                                     :y2 198.1953125,
                                     :width 859.9999999999999,
                                     :height 1058.113062574688},
                          :rects ({:x1 243.203125,
                                   :y1 177.6953125,
                                   :x2 436.640625,
                                   :y2 198.1953125,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}),
                          :page 68},
               :content {:text "p = (1 − β − γ)a + βb + γc"},
               :properties {:color "yellow"}}
              {:id #uuid "680f05fc-b300-4a27-ad7f-a3ecd47594d7",
               :page 69,
               :position {:bounding {:x1 259.6328125,
                                     :y1 917.2734375,
                                     :x2 771.8275756835938,
                                     :y2 954.21875,
                                     :width 859.9999999999999,
                                     :height 1058.113062574688},
                          :rects ({:x1 266.0807189941406,
                                   :y1 917.2734375,
                                   :x2 765.9097290039062,
                                   :y2 933.15625,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 259.6328125,
                                   :y1 935.15625,
                                   :x2 771.8275756835938,
                                   :y2 954.21875,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}),
                          :page 69},
               :content {:text "nother way to compute barycentric coordinates is to compute the areas Ag, Ap, and A,, of subtriangles as shown in Figure 2.40. Barycentric coordinates obey"},
               :properties {:color "yellow"}}
              {:id #uuid "680f0602-8850-49d1-9640-578eb43adc11",
               :page 70,
               :position {:bounding {:x1 85.734375,
                                     :y1 141.1796875,
                                     :x2 128.62298583984375,
                                     :y2 155.6796875,
                                     :width 859.9999999999999,
                                     :height 1058.113062574688},
                          :rects ({:x1 85.734375,
                                   :y1 141.1796875,
                                   :x2 128.62298583984375,
                                   :y2 155.6796875,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}),
                          :page 70},
               :content {:text "the rule"},
               :properties {:color "yellow"}}
              {:id #uuid "680f0619-6517-4356-865b-1103ff811265",
               :page 70,
               :position {:bounding {:x1 86.515625,
                                     :y1 279.46875,
                                     :x2 592.3828125,
                                     :y2 315.5390625,
                                     :width 859.9999999999999,
                                     :height 1058.113062574688},
                          :rects ({:x1 480.4439392089844,
                                   :y1 279.46875,
                                   :x2 592.3828125,
                                   :y2 293.96875,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}
                                  {:x1 86.515625,
                                   :y1 296.4765625,
                                   :x2 513.0971069335938,
                                   :y2 315.5390625,
                                   :width 859.9999999999999,
                                   :height 1058.113062574688}),
                          :page 70},
               :content {:text "his rule still holds for points outside the triangle if the areas are allowed to be signed."},
               :properties {:color "yellow"}}
              {:id #uuid "681054ba-84df-47a0-bc67-03e8246261ee",
               :page 70,
               :position {:bounding {:x1 114.953125,
                                     :y1 785.3671875,
                                     :x2 620.66650390625,
                                     :y2 851.8984375,
                                     :width 902.3616666666667,
                                     :height 1110.2333333333331},
                          :rects ({:x1 114.953125,
                                   :y1 785.3671875,
                                   :x2 620.66650390625,
                                   :y2 805.3671875,
                                   :width 902.3616666666667,
                                   :height 1110.2333333333331}
                                  {:x1 255.8125,
                                   :y1 823.3984375,
                                   :x2 460.3828125,
                                   :y2 851.8984375,
                                   :width 902.3616666666667,
                                   :height 1110.2333333333331}),
                          :page 70},
               :content {:text "The area of the triangle can be found by taking the length of the cross product: area = 5b—a) x (ca "},
               :properties {:color "yellow"}}],
 :extra {:page 76}}
